{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Data Visual</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title"><b>सुरक्षा पोर्ट</b></div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="/">Home</a>
        <!-- <a href="#" target="_blank">Analysis</a> -->
        <a href="https://suraksha-port.herokuapp.com/" target="_blank"
          >Exploration
        </a>

        <a href="../map/" target="_blank">Crime Map</a>

        <a href="#" target="_blank">About us</a>
      </div>
    </div>

    <section class="intro-box">
      <div class="intro">
        <h1>हमारे विश्लेषण के साथ अपराध दर का आसानी से अध्ययन करें</h1>
        <a href="#upload_csv">विश्लेषण पर जाएं</a>
      </div>
    </section>

    <section id="upload_csv" class="upload_sec">
      <div class="guide_csv">
        <h2>CSV file अपलोड करने के लिए गाइड</h2>
        <p>
          1) The csv file must be correct and should have 12 coloumns as per
          requirement
        </p>
        <p>2) The csv file should contain coreect latitde and longitude.</p>
        <p>3) CSV file can contain data from anywhere in the world.</p>
        <p>4) All information should be correct and upload limit is 200MB.</p>
      </div>
      <div class="upload_csv">
        <a href="https://suraksha-port.herokuapp.com/"
          >CSV अपलोड और विश्लेषण करने के लिए यहां <b>क्लिक करें</b>
        </a>
      </div>
    </section>

    <section class="section-1">
      <div class="div1" id="div1">
        <div class="innerdiv">
          <h1 class="heading">अपराध के प्रकार द्वारा अपराध की संख्या:</h1>
          <p class="info">
            This Insight showcase us the type of crime which is recorded most
            no. of times. The most number of crime recorded is "Offense
            Involving Children" and then second most is "Deceptivd Practice".
          </p>
        </div>

        <iframe
          class="igraph"
          scrolling="no"
          style="border: none"
          seamless="seamless"
          src="https://plotly.com/~hrishi332/67.embed"
          height="480"
          width="60%"
        ></iframe>
      </div>
      <div class="div2" id="div2">
        <div class="innerdiv">
          <h1 class="heading">जहां सबसे ज्यादा अपराध :</h1>
          <p class="info">
            This Insight showcase us the number of crime which is recorded in
            which type of location. The most number of crime recorded at
            Residence area; then second most is vacant lot and then Street.
          </p>
        </div>

        <iframe
          class="igraph"
          scrolling="no"
          style="border: none"
          seamless="seamless"
          src="https://plotly.com/~hrishi332/61.embed"
          height="480"
          width="60%"
        ></iframe>
      </div>
      <div class="div3" id="div3">
        <div class="innerdiv">
          <h1 class="heading">
            अपराध की घटना का प्रतिशत गिरफ्तारी की जाती है:
          </h1>
          <p class="info">
            In this area plot we got the insight of where the most no. of arrest
            is done. So, we get to know that at street most no. of arrest is
            occurred is Street, then Gas station and then others.
          </p>
        </div>
        <iframe
          class="igraph"
          scrolling="no"
          style="border: none"
          seamless="seamless"
          src="https://plotly.com/~hrishi332/90.embed"
          height="480"
          width="60%"
        ></iframe>
      </div>
      <div class="div4" id="div4">
        <div class="innerdiv">
          <h1 class="heading">अपराध की संख्या (Monthwise):</h1>
          <p class="info">
            This Insight showcase us the number of crime which is recorded
            monthwise. The most number of crime recorded is in the month of
            September and then August.
          </p>
        </div>
        <iframe
          class="igraph"
          scrolling="no"
          style="border: none"
          seamless="seamless"
          src="https://plotly.com/~hrishi332/63.embed"
          height="480"
          width="60%"
        ></iframe>
      </div>
      <div class="div5" id="div5">
        <div class="innerdiv">
          <h1 class="heading">
            सप्ताह के दिनों में अपराध की घटनाओं की संख्या:
          </h1>
          <p class="info">
            This Insight showcase us the number of crime which is recorded by
            days of a week. The most number of crime recorded is on Sunday. The
            most no. of crime increases on Sunday and goes in the serial member
            till friday. The friday is recorded to have the least no. of crime.
          </p>
        </div>
        <iframe
          class="igraph"
          scrolling="no"
          style="border: none"
          seamless="seamless"
          src="https://plotly.com/~hrishi332/65.embed"
          height="480"
          width="60%"
        ></iframe>
      </div>
      <div class="div6" id="div6">
        <div class="innerdiv">
          <h1 class="heading">कहां होती है सबसे ज्यादा गिरफ्तारी :</h1>
          <p class="info">
            In this area plot we got the insight of where the most no. of arrest
            is done. So, we get to know that at street most no. of arrest is
            occurred is Street, then Gas station and then others.
          </p>
        </div>
        <iframe
          class="igraph"
          scrolling="no"
          style="border: none"
          seamless="seamless"
          src="https://plotly.com/~hrishi332/86.embed"
          height="480"
          width="60%"
        ></iframe>
      </div>
    </section>
  </body>
</html>
